*:focus { outline: none}
body { background:#fff; color:#222; overflow-x: hidden; font-family: Arial, Helvetica, sans-serif; padding: 0; margin: auto; max-width: 900px; }

a, a:visited {
    text-decoration: none;
    color: inherit;
}

/* Text and layout */
body h1 { font-size:42px; text-transform: capitalize; margin-top: 0; margin-bottom: 20px; }
body h2 { font-size:20px; margin-bottom: 10px; }
body h3 { font-size:16px; margin-bottom: 10px; }
body p { line-height: 16px; font-size:16px; margin-top: 0px; word-wrap: break-word; }

/* Images */
body img { width: 100%; max-height: 512px; object-fit: contain;}


/* ProbePost logo */
.logocon {
    position: relative;
    aspect-ratio: 3.5 / 1;
}

.logocon img {
    position: absolute;
}

.eyes {
    animation-name: eyes;
    animation-duration: 20s;
    animation-iteration-count: infinite
}

@keyframes eyes {
    0%   { top: 15%; left: 17%; }
    60%  { top: 15%; left: 17%; }
    70%  { top:  9%; left: 10%; }
    90%  { top:  9%; left: 10%; }
    100% { top: 15%; left: 17%; }
}


/* main page layout, third column is not used */
.container {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
}
@media only screen and (max-width: 750px) {
    .container {
        grid-template-columns: 1fr 2.5fr;
    }
}

.container > div {
    margin: 0px 20px 20px 20px;
    padding-top: 50px;
}

/* sidebar */
.sidebar {
    position: sticky;
    align-self: self-start;
    top: 0;
    left: 0;
}

.sidebar > a > h2 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 0 0 0;
    transition: 0.2s;
}

.sidebar > a > h2:hover {
    background-color: rgb(230, 230, 230);
    padding-left: 5px;
}


/* Post styling */

.post {
    background-color: #fff;
    margin-bottom: 10px;
}
.post img {
    background-color:#eee;
}

/* post description layout, 1 big column for content, a small for votes */
.body {
    display: grid;
    grid-template-columns: 1fr 20px;
    gap: 0 10px;
}

.name {
    margin-block-start: 0;
    margin-block-end: 0;
}

.header {
    margin-block-end: 5px;
}

.description {
    padding-top: 10px;
}

.location, .spotted {
    font-size: 12px;
    margin-bottom: 0;
    color: #888;
}

.location > a, .location > a:visited {
    color:blue;
}

.posted, .handle {
    font-size: 15px;
    font-weight: normal;
    color: #888;
    vertical-align: bottom;
}

.posted {
    float: right;
}


/* votes */

.votecon {
    width: 100%;
    font-size: 12px;
}
.votecon > * {
    float: right;
    padding-left: 10px;
}

.vote {
    user-select: none;
    cursor: pointer; /* Show pointer cursor on hover */
}


/* Forms */

textarea {
    resize: none;
}

input[type=text], input[type=password], input[type=datetime-local], input[type=url], textarea {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    background-color: #eee;
    border: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

input[type=submit] {
    font-size: 16px;
    margin: 8px 0;
    padding: 8px 15px;
    border: none;
    background-color: #eee;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    min-width: 120px;
}

input[type=submit]:hover {
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.5);
}

select, input[type="text"][list] {
    width: 100%;
    background-color: #eee;
    margin: 8px 0;
    padding: 4px 4px;
    border: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.selects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
    column-gap: 10px;
}

/* Search bar */

.search {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 0 10px;
    margin-bottom: 20px;
}


/* Error notifications */

.errors:has(*) {
    background-color: #ff9c9c;
    margin-bottom: 10px;
}
.errors ul {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.feed > hr {
    margin-bottom: 40px;
}

/* profile styles */

.profileheader {
    display: grid;
    grid-template-columns: auto min-content;
}

.profiletitle {
    margin-bottom: 0;
    font-size: 32px;
}

a.feed-button {
    margin: 10%;
    padding: 8px;
    position: relative;
    transition: 0.2s;
}

a.feed-button:hover {
    background-color: rgb(230, 230, 230);
}

a.feed-button#selected::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: 4px;
    border-radius: 10px 10px 10px 10px;
}

/* follow button */
button {
    background-color:black;
    color:white;
    border: 2px solid black;
    height: 40px;
    min-width: 120px;
    padding: 0 16px;
    margin-bottom: 20px;
    font-size: 16px;
}

button.follow:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

button.unfollow:hover {
    border: none;
    background-color: rgb(244, 33, 46);
    cursor: pointer;
}

button.unfollow:hover span {
    display: none;
}

button.unfollow:hover:before {
    content: "Unfollow";
}

/* follow styling */
.followcount {
    margin: 15px 0 60px 0;
}
.followcount > p {
    display: inline;
    color: grey;
    text-transform: capitalize;
    padding-right: 10px;
}
.followcount > p > span {
    color: black;
    font-weight: bold;
}