<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - ProbePost</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logocon">
                <a href="{{ url_for('index') }}">
                    <img type="image/svg+xml" src="{{ url_for('static', filename='logo.svg') }}">
                    <img class="eyes" type="image/svg+xml" src="{{ url_for('static', filename='eyes.svg') }}">
                </a>
            </div>
            
            <hr>
            {% if current_user.is_anonymous %}
                <h2><a href="{{ url_for('login') }}">Sign in</a></h2>
                <h2><a href="{{ url_for('register') }}">Register</a></h2>
            {% else %}
                <h2><a href="/">Feed</a></h2>
                <hr>
                <h2><a href="{{ url_for('create_post') }}">Create Post</a></h2>
                <hr>
                <h2><a href="/">Profile</a></h2>
                <hr>
                <h2><a href="{{ url_for('logout') }}">Logout</a></h2>
            {% endif %}

        </div>
        
        <div class="feed">
            <div class="errors">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </div>

            {% block content %}{% endblock %}
        </div>
    </div>
    
</body>
</html>