<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - ProbePost</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="logocon">
                <img type="image/svg+xml" src="{{ url_for('static', filename='logo.svg') }}">
                <img class="eyes" type="image/svg+xml" src="{{ url_for('static', filename='eyes.svg') }}">
            </div>
            
            <hr>

            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}"><h2>Sign in</h2></a>
            <a href="{{ url_for('register') }}"><h2>Register</h2></a>
            {% else %}
            <a href="/"><h2>Feed</h2></a>
            <hr>
            <a href="{{ url_for('create_post') }}"><h2>Create Post</h2></a>
            <hr>
            <a href="/"><h2>Profile</h2></a>
            <hr>
            <a href="{{ url_for('logout') }}"><h2>Logout</h2></a>
            {% endif %}

        </div>
        
        <div class="feed">
            <div class="errors">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </div>

            {% block content %}{% endblock %}
        </div>
    </div>
    
</body>
</html>