{% extends "base.html" %}
{% block content %}
    <h1>Create Post</h1>
    <form action="" method="post" novalidate>    
        {{ form.hidden_tag() }}
        <p>
            {{ form.summary.label }} <br>
            {{ form.summary(rows=5, cols=60) }} <br>
            {% for error in form.summary.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.imageUrl.label }} <br>
            {{ form.imageUrl(size=128) }} <br>
            {% for error in form.summary.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.sightingDateTime.label }} <br>
            {{ form.sightingDateTime(class='datePicker') }} <br>
            {% for error in form.sightingDateTime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.sightingDuration.label }} <br>
            {{ form.sightingDuration(size=128) }} <br>
            {% for error in form.sightingDuration.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div class="selects">
            <p>
                {{ form.state.label }} <br>
                {{ form.state }} <br>
            </p>
            <p>
                {{ form.city.label }} <br>
                {{ form.city(list="cities") }} <br>
            </p>
        </div>
        <div class="selects">
            <p>
                {{ form.latField.label }} <br>
                {{ form.latField }} <br>
                {% for error in form.latField.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.lonField.label }} <br>
                {{ form.lonField }} <br>
                {% for error in form.lonField.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
        <p>
            {{ form.post() }}
        </p>
    </form>
    
    <datalist id="cities">
        {% for city in cities %}
            <option value="{{ city }}"></option>
        {% endfor %}
    </datalist>
{% endblock %}

