{% extends "base.html" %}

{% block content %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('click', '.vote', function(ev) {
                var vote_type = $(ev.currentTarget).attr('vote-type');
                var post_id = $(ev.currentTarget).attr('post-id');

                $.get('/' + vote_type + '/' + post_id, function(data) {
                    $(ev.target).parent().html(data);
                });
            });
        });
    </script>

    <p id="page_end_marker"></p>

    <script src="{{ url_for('static', filename='infinite_scroll.js') }}"></script>

{% endblock %}



