{% extends "base.html" %}

{% block content %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

     <!-- FOR LIKES -->
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('click', '.vote', function(ev) {
                var vote_type = $(ev.currentTarget).attr('vote-type');
                var post_id = $(ev.currentTarget).attr('post-id');

                $.get('/' + vote_type + '/' + post_id, function(data) {
                    $(ev.target).parent().html(data);
                });
            });
        });
    </script>

    <!-- FOR FOLLOW BUTTON -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("button.follow").click(function() {
            var following = $(this).hasClass('follow');
            
            if (following) {
                $(this).removeClass('follow')
                        .addClass('unfollow')
                        .find('span').text('Following');
            }
            else {
                $(this).removeClass('unfollow')
                        .addClass('follow')
                        .find('span').text('Follow');
            }
            });
        });
    </script>

    <p id="page_end_marker"></p>

    <script src="{{ url_for('static', filename='infinite_scroll.js') }}"></script>

{% endblock %}



