<div class="post" id="{{ post.id }}">
    <div class="header">
        <h2 class="name"><a href="/@{{ post.poster_handle }}">{{ post.poster_display_name }}</a></h2>
        <span class="handle"><a href="/@{{ post.poster_handle }}">@{{ post.poster_handle }}</a></span>
        <span class="posted">{{ post.post_date }}</span>
    </div>

    <img class="image" loading="lazy" src="{{ post.image_url }}">

    <div class="body">
        <div>
        <p class="location">seen in: {{ post.city }}, {{ post.state_name }} (<a target="_blank" href="https://www.google.com/maps?q={{ post.latitude }},{{ post.longitude }}">{{ post.latitude }},{{ post.longitude }}</a>)</p>
        <p class="spotted">spotted: {{ post.sighting_date }} at {{ post.sighting_time }} ({{ post.duration }})</p>
        <p class="description">{{ post.content }}</p>
        </div>
        <div class="rating">
            <p class="vote"  vote-type="upvote" post-id="{{ post.id }}">{% if post.user_rating == true %} ✅ {% else %} ⬆️ {% endif %}</p>
            <p class="karma" style="text-align: center;">{{ post.karma }}</p>
            <p class="vote"  vote-type="downvote" post-id="{{ post.id }}">{% if post.user_rating == false %} ❌ {% else %} ⬇️ {% endif %}</p>
        </div>
    </div>
</div>