{% extends "feed.html" %}

{% block header %}
    <div class="profileheader">
        <div>
            <h1 class="profiletitle">{{ user.display_name }}</h1>
            <p class="handle">@{{ user.handle }}</p>
        </div>
        <button type="button" class="follow">
            <span>Follow</span>
        </button>
    </div>

    <p class="location">Lives in: {{ user.state }}, {{ user.city }}</p>

    <div class="followcount">
        <p class="following"><span>{{ user.following }}</span> following</p> 
        <p class="following"><span>{{ user.followers }}</span> followers</p>      
    </div>

    <div>
        <h2 style="text-align: center;">
            <a href="/@{{ user.handle }}" style="margin:10%">All posts</a>
            <a href="/@{{ user.handle }}/likes" style="margin:10%">Liked posts</a>
        </h2>
    </div>
    <hr style="margin-bottom: 10px">
{% endblock %}
