{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.handle.label }} <br>
            {{ form.handle(size=32) }} <br>
            {% for error in form.handle.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }} <br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password_repeat.label }} <br>
            {{ form.password_repeat(size=32)}} <br>
            {% for error in form.password_repeat.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div class="selects">
            <p>
                {{ form.state.label }} <br>
                {{ form.state }}
            </p>
            <p>
                {{ form.city.label }} <br>
                {{ form.city(list="cities") }} <br>
            </p>
        </div>
        {% for error in form.state.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% for error in form.city.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>
            {{ form.submit() }}
        </p>
    </form>

    <datalist id="cities">
        {% for city in cities %}
            <option value="{{ city }}"></option>
        {% endfor %}
    </datalist>
{% endblock %}
