{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }} <br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }} <br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password_repeat.label }} <br>
            {{ form.password_repeat(size=32)}} <br>
            {% for error in form.password_repeat.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <div class="selects">
            <p>
                {{ form.country.label }} <br>
                {{ form.country  }} <br>
            </p>
            <p>
                {{ form.state.label }} <br>
                {{ form.state  }}
            </p>
            <p>
                {{ form.city.label }} <br>
                {{ form.city  }} <br>
            </p>
        </div>
        {% for error in form.country.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% for error in form.state.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% for error in form.city.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <p>
            {{ form.submit() }}
        </p>
    </form>

    <p>Already Registered? <a href="{{ url_for('login') }}">Click to Sign In!</a></p>
{% endblock %}
